<center><h1>Data.Frame Challenge Questions</h1></center>

### Question 1.
Create a `data.frame` object called `state_df` with two columns, one called `state` and one called `population`. Each column should have five elements. For the `state` column, select the abbreviations for five US states (e.g., "OH", "RI", "NY", "MA", "CT"). For the `population` column, use the `sample()` function to create "populations" at random from the range `1` to `1000000`.

In [9]:
state <- c("OH", "RI", "NY", "MA", "CT")

set.seed(1) # sets the state of the random number generator stored in .Random.seed
population <- sample(1:1000000, 5)

state_df <- data.frame(state, population)

state_df

  state population
1 OH    548676
2 RI    452737
3 NY    124413
4 MA    436523
5 CT    856018

### Question 2.
Add a third column to the `state_df` dataframe called `size`. In particular, use boolean indexing to assign elements of the third column to be `"large"` if that row's `population` value is larger than or equal to `500000`, and be `"small"`  if the row's `population` is less than `500000`.

In [10]:
# Example Solution
is_small <- state_df$population < 500000   # create vector of booleans

is_small

state_df$size <- rep(NA, 5)                # create column of 5 NAs

state_df[is_small, "size"] <- "small"      # assigning "small" wherever `is_small` is TRUE
state_df[!is_small, "size"] <- "large"     # assigning "large" wherever !is_small

state_df

[1] FALSE  TRUE  TRUE  TRUE FALSE

  state population size
1 OH    548676     large
2 RI    452737     small
3 NY    124413     small
4 MA    436523     small
5 CT    856018     large

In [11]:
# Alternate Solution
n <- nrow(state_df)                        # get number of rows in dataframe
state_df$size <- rep(NA, n)                # create empty column of NAs

for (i in 1:n) {
    if (state_df[i, "population"] < 500000) {
        state_df[i, "size"] <- "small"
    }
    else {
        state_df[i, "size"] <- "large"
    }
}

state_df

  state population size
1 OH    548676     large
2 RI    452737     small
3 NY    124413     small
4 MA    436523     small
5 CT    856018     large

In [12]:
# Alternate Solution
state_df$size <- ifelse(state_df$population < 500000, "small", "large")

state_df

  state population size
1 OH    548676     large
2 RI    452737     small
3 NY    124413     small
4 MA    436523     small
5 CT    856018     large

<center><h1>Dplyr Challenge Questions</h1></center>