# Plotting In-Class Activity

In [1]:
library(ggplot2)

### Built-in Datasets in R
R has some pre-built datasets for its users. These datasets cover a wide range of fields from biology to social records. [Learn more](https://www.geeksforgeeks.org/a-complete-guide-to-the-built-in-datasets-in-r/#)

In this notebook, we'll use the following built in dataset

**mtcars**: This dataset contains data about various popular car models in 1973 – ’74. There are 11 characteristics include, number of cylinders, horsepower, etc. This dataset has 32 rows of data containing information about 32 different cars.

More on [mtcars: Motor Trend Car Road Tests](https://www.rdocumentation.org/packages/datasets/versions/3.6.2/topics/mtcars)

In [12]:
# Load mtcars dataset (notice, we didn't need to assign it to a variable) 
data(mtcars)

In [13]:
# Explore
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [14]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

## Question 1: Scatter Plot

* Create a scatter plot of `mpg` (miles per gallon) vs `wt` (weight of the car).
* Color the points based on the number of cylinders (`cyl`).
* Add a title and labels for the axes.

In [ ]:
# Code here

## Question 2: Bar Plot
* Create a bar plot showing the count of cars for each number of cylinders.
* Fill the bars based on the gear variable.
* Add a title and labels for the axes.

In [16]:
# Code here

## Question 3: Box Plot
* Create a box plot of mpg for each number of cylinders.
* Color the boxes based on the gear variable.
* Add a title and labels for the axes.

In [ ]:
# Code here

## Question 4: Histogram
* Create a histogram of the `mpg` variable.
* Fill the bars based on the `cyl` variable.
* Add a title and labels for the axes.

In [ ]:
# Code here